/* ############### Font Face Start ############### */

@font-face {
  font-family: Mission;
  font-style: normal;
  src: url("../fonts/Mission-Script.woff");
}

@font-face {
  font-family: Bitter-Regular;
  font-style: normal;
  src: url("../fonts/Bitter-Regular.ttf");
}

@font-face {
  font-family: Bitter-Bold;
  font-style: normal;
  src: url("../fonts/Bitter-Bold.ttf");
}

.font-ms {
  font-family: Mission;
  font-style: normal;
  font-weight: normal;
}

.font-br {
  font-family: Bitter-Regular, Serif;
}

.font-bb {
  font-family: Bitter-Bold, Serif;
}
/* ############### Font Face End ############### */


// ############### Base Color Start ###############

$liver-brown: #66291F;
$salmon-pink: #F6A39B;
$pastel-pink: #D3AB9E;
$dust-storm: #EAC9C1;
$champagne-pink: #EBD8D0;

// ############### Base Color End ###############


/* ############### Typography Start ############### */

/* ############### Typography End ############### */
