/* ############### Font Face Start ############### */

@font-face {
  font-family: Mission;
  font-style: normal;
  src: url("../fonts/Mission-Script.woff");
}

@font-face {
  font-family: Bitter-Regular;
  font-style: normal;
  src: url("../fonts/Bitter-Regular.ttf");
}

@font-face {
  font-family: Bitter-Bold;
  font-style: normal;
  src: url("../fonts/Bitter-Bold.ttf");
}

.font-ms {
  font-family: Mission;
  font-style: normal;
  font-weight: normal;
}

.font-br {
  font-family: Bitter-Regular, Serif;
}

.font-bb {
  font-family: Bitter-Bold, Serif;
}
/* ############### Font Face End ############### */


// ############### Base Color Start ###############

$black: #000000;
$liver-brown: #66291F;
$salmon-pink: #F6A39B;
$pastel-pink: #D3AB9E;
$french-lilac: #E5A4ED;
$dust-storm: #EAC9C1;
$champagne-pink: #EBD8D0;
$white: #ffffff;

$dark-primary: #0070D8;
$primary: #007BFF;
$cornflower-blue: #7A5BF5;

// ############### Base Color End ###############


/* ############### Typography Start ############### */

.ls-03{
  letter-spacing: 0.3px;
}

/* ############### Typography End ############### */
