@import "base";
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins/breakpoints";

/* ############### Start custom style here ############### */

html,body {
  height: 100%;
}

.undraggable{
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.navbar{
  height: 100px;
  .navbar-brand{
    img{
      width: 60px;
      height: auto;
    }
    .navbar-title{
      font-family: Mission;
      color: $salmon-pink;
      border-bottom: 2px solid $salmon-pink;
    }
  }
}

.section-1, .section-2, .section-3{
  height: 100%;
  .container{
    height: 100%;
  }
}

.section-1__row{
  height: calc(100% - 100px);
  height: -moz-calc(100% - 100px);
  height: -webkit-calc(100% - 100px);
  height: -o-calc(100% - 100px);
  .col-md-6{
    max-height: 100%;
    .card{
      height: 100%;
      img{
        max-width: 100%;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
      }
      .my-auto{
        h1{
          color: $black;
        }
        .card{
          height: 55px;
          width: 100%;
          padding: 7px 25px;
          border-radius: 50px;
          border: 0;
          box-shadow: 0px 15px 20px rgba(246,163,155, 0.4);
          input{
            height: 100%;
            padding-right: 36%;
            border: 0;
            color: $salmon-pink;
            &::placeholder{
              color: rgba(246,163,155,0.75);
            }
            &:focus{
              outline-offset: 0;
              outline: -webkit-focus-ring-color auto 0px;
            }
          }
          button{
            position: absolute;
            right: 10px;
            top: 7px;
            width: auto;
            height: 39px;
            padding: 3px 3%;
            background-color: $salmon-pink;
            color: $white;
            border: none;
            border-radius: 45px;
            transition: all 0.3s ease 0s;
            &:hover{
              background-color: $cinnabar;
              color: $white;
              box-shadow: 0px 15px 20px rgba(230, 56, 66, 0.4);
              transform: translateY(-7px);
            }
            &:focus{
              outline-offset: 0;
              outline: -webkit-focus-ring-color auto 0px;
              box-shadow: 0 0 0 0;
            }
          }
        }
      }
    }
  }
}

.wave{
  width: 100%;
  height: auto;
}

.section-2{
  background-color: $wisp-pink;
}

.section-2__img{
  max-width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.lang-icon{
  width: 50px;
  height: 50px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: $white;
  text-align: center;
  background-color: $salmon-pink;
  border-radius: .25rem;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  margin-left: -3px;
  content: "";
  border-width: 5px 5px 0;
  border-top-color: $salmon-pink;
}
