/* ############### Font Face Start ############### */

@font-face {
  font-family: Mission;
  font-style: normal;
  src: url(/fonts/Mission-Script.woff?37ac377c22b809bf27e1a30861062efe);
}

@font-face {
  font-family: Bitter-Regular;
  font-style: normal;
  src: url(/fonts/Bitter-Regular.ttf?0f1c22edaad1740f071ec14648d2ec63);
}

@font-face {
  font-family: Bitter-Bold;
  font-style: normal;
  src: url(/fonts/Bitter-Bold.ttf?2e4c2ad8fe4d233e582d2878ef1daffb);
}

.font-ms {
  font-family: Mission;
  font-style: normal;
  font-weight: normal;
}

.font-br {
  font-family: Bitter-Regular, Serif;
}

.font-bb {
  font-family: Bitter-Bold, Serif;
}

/* ############### Font Face End ############### */

/* ############### Typography Start ############### */

/* ############### Typography End ############### */

/* ############### Start custom style here ############### */

html,
body {
  height: 100%;
}

.navbar.bg-transparent {
  height: 100px;
}

.navbar.bg-transparent .container .navbar-brand img {
  width: 60px;
  height: auto;
}

.navbar.bg-transparent .container .navbar-brand .navbar-title {
  font-family: Mission;
  color: #66291F;
  border-bottom: 2px solid #66291F;
}

.section-1 {
  height: 100vh;
}

.section-1 .row {
  height: 100%;
}

.section-1 .row .col-md-6 {
  height: 100%;
}

.section-1 .row .col-md-6 .card {
  height: 100%;
}

.section-1__svg {
  align-self: center;
  width: 400px;
  height: 300px;
  display: block;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

