/* ############### Font Face Start ############### */

@font-face {
  font-family: Mission;
  font-style: normal;
  src: url(/fonts/Mission-Script.woff?37ac377c22b809bf27e1a30861062efe);
}

@font-face {
  font-family: Bitter-Regular;
  font-style: normal;
  src: url(/fonts/Bitter-Regular.ttf?0f1c22edaad1740f071ec14648d2ec63);
}

@font-face {
  font-family: Bitter-Bold;
  font-style: normal;
  src: url(/fonts/Bitter-Bold.ttf?2e4c2ad8fe4d233e582d2878ef1daffb);
}

.font-ms {
  font-family: Mission;
  font-style: normal;
  font-weight: normal;
}

.font-br {
  font-family: Bitter-Regular, Serif;
}

.font-bb {
  font-family: Bitter-Bold, Serif;
}

/* ############### Font Face End ############### */

/* ############### Typography Start ############### */

.ls-03 {
  letter-spacing: 0.3px;
}

/* ############### Typography End ############### */

/* ############### Start custom style here ############### */

html,
body {
  height: 100%;
}

.undraggable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.navbar {
  height: 100px;
}

.navbar .navbar-brand img {
  width: 60px;
  height: auto;
}

.navbar .navbar-brand .navbar-title {
  font-family: Mission;
  color: #F6A39B;
  border-bottom: 2px solid #F6A39B;
}

.section-1,
.section-2,
.section-3 {
  height: 100%;
}

.section-1 .container,
.section-2 .container,
.section-3 .container {
  height: 100%;
}

.section-1__row {
  height: calc(100% - 100px);
  height: -o-calc(100% - 100px);
}

.section-1__row .col-md-6 {
  max-height: 100%;
}

.section-1__row .col-md-6 .card {
  height: 100%;
}

.section-1__row .col-md-6 .card img {
  max-width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.section-1__row .col-md-6 .card .my-auto h1 {
  color: #000000;
}

.section-1__row .col-md-6 .card .my-auto .card {
  height: 55px;
  width: 100%;
  padding: 7px 25px;
  border-radius: 50px;
  border: 0;
  box-shadow: 0px 15px 20px rgba(246, 163, 155, 0.4);
}

.section-1__row .col-md-6 .card .my-auto .card input {
  height: 100%;
  padding-right: 36%;
  border: 0;
  color: #F6A39B;
}

.section-1__row .col-md-6 .card .my-auto .card input::-webkit-input-placeholder {
  color: #F6A39B;
}

.section-1__row .col-md-6 .card .my-auto .card input::-moz-placeholder {
  color: #F6A39B;
}

.section-1__row .col-md-6 .card .my-auto .card input:-ms-input-placeholder {
  color: #F6A39B;
}

.section-1__row .col-md-6 .card .my-auto .card input::-ms-input-placeholder {
  color: #F6A39B;
}

.section-1__row .col-md-6 .card .my-auto .card input::placeholder {
  color: #F6A39B;
}

.section-1__row .col-md-6 .card .my-auto .card input:focus {
  outline-offset: 0;
  outline: -webkit-focus-ring-color auto 0px;
}

.section-1__row .col-md-6 .card .my-auto .card button {
  position: absolute;
  right: 10px;
  top: 7px;
  width: auto;
  height: 39px;
  padding: 3px 3%;
  background-color: #F6A39B;
  color: #ffffff;
  border: none;
  border-radius: 45px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.section-1__row .col-md-6 .card .my-auto .card button:hover {
  background-color: #E63842;
  color: #ffffff;
  box-shadow: 0px 15px 20px rgba(230, 56, 66, 0.4);
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.section-1__row .col-md-6 .card .my-auto .card button:focus {
  outline-offset: 0;
  outline: -webkit-focus-ring-color auto 0px;
  box-shadow: 0 0 0 0;
}

.wave {
  width: 100%;
  height: auto;
}

.section-2 {
  background-color: #FDEBEC;
}

.section-2__img {
  max-width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.lang-icon {
  width: 50px;
  height: 50px;
}

